body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.row  {
    height: 30px;
}
div#world {
    position: relative;
}

div.row div {
    width:30px;
    height: 30px;
    /* border: 1px solid black; */
    display: inline-block;

}

div.brick {
    background-color: blue ;
}

div.coin {
    background: url(coin.gif) no-repeat center; 
}
div.cereza {
    background: url(cereza.gif) no-repeat center;
    background-size: cover;
    
}
div.ghost {
    background: url(ghost.gif) no-repeat center;
    background-size: cover;
}
div.energyzer {
    /* content: "."; */
    background: url(ficha.png);
    /* position: absolute; */
    /* font-size:30px; */
    /* background-size: cover; */
    color: white;
    /* margin-left: 10px; */
    /* top: -28px; */
    /* left: 20px; */
}

/* div.empty {
} 
*/

div#pacman {
    background: url(pacman.png) no-repeat center; 
    background-size: cover;  /* ajusta la imagen al div */
    width: 30px;
    height: 30px;
    position: absolute;
}

div#score   {
    border: 1px solid white;
    width: 30px;
    height: 20px;
    color: white;
    padding: 7px;
    position: absolute;
    top: 22px;
    left: 600px
}

div#vida   {
    border: 1px solid white;
    width: 65px;
    height: 20px;
    color: white;
    padding: 7px;
    position: absolute;
    top: 62px;
    left: 600px
}

div#gameover {
    position: absolute;
    top: 130px;
    left: 170px;
    font-size: 50px;
    color: white;
}